{% extends 'base.html' %}
{% block content%}
{% load static %}
<div class="container">
<div class="row mt-5 align-items-center text-center">
  <div class="col-12">
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Search by date
  </a>
</p>
<div class="collapse" id="collapseExample">
  <form class="form form-control" method="GET">
    <div class="row">
      <div class="col-6">
        <input type="date" name="start_date" class="form-control">
      </div>
      <div class="col-6">
        <input type="date" name="end_date" class="form-control">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <input type="submit" class="btn btn-success-light">
      </div>
    </div>
    
  </form>
</div>
  </div>
</div>



  {% for launche in api_launches %}
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 text-center item-align-center">
        <a href="#">
          {% if launche.rocket.image != 'https://s3.amazonaws.com/launchlibrary/RocketImages/placeholder_1920.png' %}
            <img class="card-img-top img-fluid rounded mb-3 mb-md-0 " alt="Responsive image" src="{{ launche.rocket.image }}">            
          {% else %}
              <img class="card-img img-fluid rounded mb-3 mb-md-0 emptyrocket" alt="Responsive image" src="{% static 'images/not_rocket_image.png' %}">
          {% endif %}
        </a>
      </div>
          <div class="col-md-5">
              {% if launche.rocket.agency != 'Unknown' %}
                {% for agency in launche.rocket.agency %}
                  <h3 class="ng-binding">{{ launche.rocket.name }} | {{ agency.name }}</h3> 
                {% endfor %}
              {% else %} 
                  <h3 class="ng-binding">{{ launche.rocket.name }}</h3>
              {% endif %}
              <div class="text-muted">
                <span ng-if="sn(n)" class="ng-binding ng-scope"></span></p>
                <span ng-if="sfw(n)" class="ng-binding ng-scope">{{ launche.date_start }} - {{ launche.date_end }}</span>
                <p class="ng-binding">{{ launche.location_name }}</p>
              </div>
              <div>
                  <a type="button" class="btn btn-dark" href ="{{ launche.location_map }}">View in Map</a>              
              </div>
      </div>
    </div>
  </div>
  {% endfor %}

<div class="row text-center mb-5">
  <div class="col-12">
    <form class="form form-control" method="POST" action="/save_news/">
      {% csrf_token %}
      <h1>Sign up for our newsPaper</h1>
      <div class="row text-center align-items-center">
      <div class="col-3"></div>
      <div class="col-6">
        <input type="email" name="email" class="form-control">
      </div>
      </div>
      <input type="submit" class="btn btn-outline-dark mt-2">
    </form>
  </div>
</div>

</div>



{% endblock %}


